@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

:root {
  --color-home-btn: rgb(239, 252, 123);
  --color-hot-btn: rgb(244, 91, 91);
  --color-regular-btn: rgb(98, 151, 248);
  --color-mybest-btn: rgb(205, 123, 252);
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Slackey', sans-serif;
}

/* nav element styling */
.nav__bar {
  width: 96vw;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav__bar-home {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav__bar-img {
  width: 15%;
}

.nav__bar-header {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav__bar-navigation_btns {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav__bar-navigation_btn {
  width: 9rem;
  height: 3rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  clip-path: polygon(0% 0%, 5% 100%, 87% 88%, 99% 90%, 94% 4%);
  transition: all .5s;
}

.nav__bar-navigation_btn:hover {
  clip-path: polygon(12% 2%, 1% 87%, 30% 70%, 88% 90%, 94% 4%);
}

.home__btn {
  background-color: var(--color-home-btn);
}

.hot__btn {
  background-color: var(--color-hot-btn);
}

.regular__btn {
  background-color: var(--color-regular-btn);
}

.mybest__btn {
  background-color: var(--color-mybest-btn);
}
/* nav element styling */

/* mem section styiling */
.mem__card {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.mem__card-title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.mem__card-mem {
  width: 85%; 
  height: 85%; 
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.favorite__btn {
  background-color: transparent;
    border: none;
    position: absolute;
    right: 4%;
    top: 12%;
}

.favorite__btn-icon {
  width: 7rem;
  height: 7rem;
}

.vote__btns {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.vote__btn {
  width: -webkit-fill-available;
  height: 4rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  clip-path: polygon(0% 0%, 5% 100%, 87% 88%, 99% 90%, 94% 4%);
  transition: all .5s;
  overflow: visible;
}

.vote__btn:hover {
  clip-path: polygon(7.9% 8.36%, 1% 87%, 24.75% 82.25%, 88% 90%, 94% 4%);
}

.vote__btns-up {
  background-color: var(--color-hot-btn);
}

.vote__btns-down {
  background-color: var(--color-regular-btn);
}

    /* animation of thumbs */
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-15px);
        }
        60% {
          transform: translateY(-10px);
        }
      }
      
      .bounce {
        animation: bounce 1s;
      }
    /* animation of thumbs */

/* mem section styiling */