@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

:root {
  --color-home-btn: rgb(239, 252, 123);
  --color-hot-btn: rgb(244, 91, 91);
  --color-regular-btn: rgb(98, 151, 248);
  --color-mybest-btn: rgb(205, 123, 252);
  --frist-color-box-shadow: rgba(50, 50, 93, 0.25);
  --second-color-box-shadow: rgba(0, 0, 0, 0.3);
  --left-nav-color: rgb(219, 248, 255);
  --right-nav-color: rgb(175, 255, 234);
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Slackey', sans-serif;
}

/* animation of trepassing views*/
.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}
/* animation of trepassing views */

/* nav element styling */
.nav__bar {
  width: 96vw;
  height: 5rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5rem;
  background: linear-gradient(to right, var(--left-nav-color), var(--right-nav-color));
  box-shadow: var(--frist-color-box-shadow) 0px 50px 100px -20px, var(--second-color-box-shadow) 0px 30px 60px -30px;
}

.nav__bar-home {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav__bar-home-link {
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}

.nav__bar-img {
  width: 15%;
}

.nav__bar-header {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav__bar-navigation_btns {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav__bar-navigation_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 9rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all .3s;
  transform: scale(0.9);
}

.nav__bar-navigation_btn:hover {
  box-shadow: 0 0 0 2px rgb(0, 0, 0), rgb(255, 255, 255) 11px 10px 0px -3px, 11px 10px 0 0 rgb(38, 255, 0);
}

.home__btn {
  background-color: var(--color-home-btn);
}

.hot__btn {
  background-color: var(--color-hot-btn);
}

.regular__btn {
  background-color: var(--color-regular-btn);
}

.mybest__btn {
  background-color: var(--color-mybest-btn);
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.letter {
  display: inline-block;
}

[class*="active-"] {
  animation-name: jump;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.nav__bar-navigation_btn.active {
  transform: scale(1);
}

.active-0 { animation-delay: 0.1s; }
.active-1 { animation-delay: 0.2s; }
.active-2 { animation-delay: 0.3s; }
.active-3 { animation-delay: 0.4s; }
.active-4 { animation-delay: 0.5s; }
.active-5 { animation-delay: 0.6s; }
.active-6 { animation-delay: 0.7s; }
.active-7 { animation-delay: 0.8s; }
.active-8 { animation-delay: 0.9s; }
.active-9 { animation-delay: 1.0s; }
/* nav element styling */

/* mem section styiling */
.mem__card {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.mem__card-title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.mem__card-mem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 70%;
  margin: 1rem 0;
  background-color: #fcf7f7;
  box-shadow: var(--frist-color-box-shadow) 0px 50px 100px -20px, var(--second-color-box-shadow) 0px 30px 60px -30px;
  overflow: hidden;
  border-radius: 1rem;
}

.mem__slide-left {
  position: absolute;
  width: 5%;
  left: 5%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mem__slide-right {
  position: absolute;
  width: 5%;
  right: 5%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mem__slide-left:hover, .mem__slide-right:hover {
  transform: scale(0.9);
}

.mem__card-mem img {
  max-height: 96%;
  max-width: 100%;
}

.favorite__btn {
  background-color: transparent;
    border: none;
    position: absolute;
    right: 12%;
    top: 17%;
    cursor: pointer;
}

.favorite__btn-icon {
  width: 7rem;
  height: 7rem;
  transition: ease-in-out 0.1s;
}

.scale-down {
  transform: scale(0.8); 
}

.vote__btns {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.vote__btn {
  width: 40%;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all .3s;
  overflow: visible;
}

.vote__btn:hover {
  box-shadow: 0 0 0 2px rgb(0, 0, 0), rgb(255, 255, 255) 11px 10px 0px -3px, 11px 10px 0 0 rgb(38, 255, 0);
}


.vote__btns-up {
  background-color: var(--color-hot-btn);
}

.vote__btns-down {
  background-color: var(--color-regular-btn);
}

.icon-margin {
  margin-left: 1rem;
}

    /* animation of thumbs */
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-15px);
        }
        60% {
          transform: translateY(-10px);
        }
      }
      
      .bounce {
        animation: bounce 1s;
      }
    /* animation of thumbs */

/* mem section styiling */

/* boards styling */
.mybest__board, .regular__board, .hot__board {
  width: 96%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 2rem;
  flex-wrap: wrap;
}

.mybest__mem, .regular__mem, .hot__mem {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-basis: calc(50% - 20px);
  height: 24rem;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.regular__mem.clicked, .hot__mem.clicked, .mybest__mem.clicked {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

.regular__mem-img.clicked-img, .hot__mem-img.clicked-img, .mybest__mem.clicked img  {
  transform: scale(0.8);
}
/* boards styling */